@use './../utils' as *;
body {
  color: $gray3;
  font-family: 'NEXON Lv1 Gothic OTF Light', sans-serif;
}

.survey {
  width: 100vw;
  height: 100vh;
  background-color: #edf2f4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  &__bg {
    position: absolute;
    background-image: url('../assets/images/bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    width: 100vw;
    height: 50vh;
    order: 10;
    bottom: 0;
  }

  &__heading {
    font-size: rem(50px);
    font-weight: 700;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: rem(32px);
  }
  &__container {
    z-index: 10;
    width: 70vw;
    height: 70vh;
    background-color: white;
    border-radius: rem(10px);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
    position: relative;
  }
  &__question {
    display: block;
    width: 100%;
    height: 15%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__wrap {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: rem(10px);
  }
  &__select {
    width: 100%;
    height: 100%;
    background-color: skyblue;
    margin: 0, rem(10px);
  }
  &__img {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: rem(10px);
  }
  &__img img {
    width: 100%;
    height: 100%;
    background-color: red;
    border-radius: rem(10px);
  }

  &__result {
    width: 70vw;
    height: 70vh;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    padding: rem(40px);
    box-sizing: border-box;
  }

  &__list {
    background-color: pink;
    padding: rem(10px);
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-content: center;
    margin: auto;
  }

  &__item {
    @include flexbox(row, space-between);
    border: 1px solid red;
    height: rem(60px);
  }

  &__item--img1,
  &__item--img2 {
    flex: 0 0 20%;
    height: 100%;
    background-color: #fff;
  }

  &__item--bar {
    flex: 0 0 60%;
    height: 100%;
    background-color: yellow;
  }

  &__item--barline {
    width: 100%;
    height: 30%;
    background-color: red;
  }
}
