@use './../utils' as *;

.intro {
    padding: rem(60px);

    &-container {
        display: flex;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        @include desktop {
            max-width: 1200px;
            justify-content: space-between;
        }

        @include mobile {
            flex-flow: column wrap;
        }
    }

    &-videoContainer {
        width: 100%;
        height: 100%;
        border-radius: 10%;
        overflow: hidden;

        video {
            @include responsive;
        }
    }


    &__text {
        width: 50%;
        margin-bottom: rem(30px);
        word-break: keep-all;
        display: flex;
        flex-flow: column wrap;
        align-items: flex-end;
        font-weight: bold;

        & > span {
            display: block;
            font-size: rem(40px);
            line-height: rem(50px);

        }
        p {
            margin-top: rem(12px);
            font-size: rem(16px);
            line-height: rem(20px);
            text-align: end;
        }
        a {
            display: flex;
            margin-top: rem(32px);
            border: 2px solid black;
            font-size: rem(12px);
            padding: rem(16px);
            width: 50%;
            flex-flow: row nowrap;
            justify-content: space-between;
        }
    }
}

.author {
  max-width: $maxWidth;
  margin: 0 auto;
  padding: 0 rem(20px);
  &__heading {
    text-align: center;
    margin-bottom: rem(50px);

    @include mobile {
      font-size: rem(32px);
    }
    @include desktop {
      font-size: rem(42px);
    }
  }
  &__list {
    @include mobile {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
      gap: 15px;
      justify-content: center;
    }
    @include desktop {
      @include flexbox($justify-content: center);
    }
  }

  &__item {
    position: relative;
    &:hover .author__caption {
      transform: translate(-50%, -100%);
    }
    @include desktop {
      max-width: rem(250px);
      & + .author__item {
        margin-left: rem(30px);
      }
    }
  }

  &__img {
    max-width: 100%;
    height: auto;
    @include desktop {
      height: rem(325px);
    }
  }

  &__caption {
    position: absolute;
    color: $white;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    transition: transform 300ms ease;
    @include mobile {
      font-size: rem(20px);
    }
    @include desktop {
      font-size: rem(24px);
    }
  }
}
