@use './../utils' as *;

.header {
  width: 100%;
  height: 100px;
}

.intro {
  padding: rem(60px);

  &-container {
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
  }

  &-videoContainer {
    width: 100%;
    height: 100%;
    border-radius: 10%;
    overflow: hidden;

    video {
      @include responsive;
    }
  }

  &__text {
    width: 50%;
    margin-bottom: rem(30px);
    word-break: keep-all;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-end;
    font-weight: bold;

    & > span {
      display: block;
      font-size: rem(40px);
      line-height: rem(50px);
    }
    p {
      margin-top: rem(12px);
      font-size: rem(16px);
      line-height: rem(20px);
      text-align: end;
    }
    a {
      display: flex;
      margin-top: rem(32px);
      border: 2px solid black;
      font-size: rem(12px);
      padding: rem(16px);
      width: 50%;
      flex-flow: row nowrap;
      justify-content: space-between;
    }
  }
}

.author {
  max-width: $maxWidth;
  margin: 0 auto;
  padding: 0 rem(20px);
  &__heading {
    text-align: center;
    margin-bottom: rem(50px);

    @include mobile {
      font-size: rem(32px);
    }
    @include desktop {
      font-size: rem(42px);
    }
  }
  &__list {
    @include mobile {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
      gap: 15px;
      justify-content: center;
    }
    @include desktop {
      @include flexbox($justify-content: center);
    }
  }

  &__item {
    position: relative;
    &:hover .author__caption {
      transform: translate(-50%, -100%);
    }
    @include desktop {
      max-width: rem(250px);
      & + .author__item {
        margin-left: rem(30px);
      }
    }
  }

  &__img {
    max-width: 100%;
    height: auto;
    @include desktop {
      height: rem(325px);
    }
  }

  &__caption {
    position: absolute;
    color: $white;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    transition: transform 300ms ease;
    @include mobile {
      font-size: rem(20px);
    }
    @include desktop {
      font-size: rem(24px);
    }
  }
}

.register{
    // @include autoMargin;
    // max-width: rem(1000px); 
    min-width: rem(320px); 
    // width: 90%;
    background-color: $gray1;
    // border-radius: rem(15px); 
    padding : rem(20px) rem(40px);
    color : $gray3; 

    // 사진 등록 제목
    &__heading{
        font-size: rem(25px);
        font-weight: 700;
        text-align: center;
        margin-bottom: rem(16px);

        &--underline{
            display: inline-block;
            padding: 0 0 rem(15px) 0;
            border-bottom: 2px solid $red2;
        }
    }

    // 사진 등록 설명 
    &__detail{
        // @include ellipsis; 
        font-size: rem(14px);
        text-align: center;
        line-height: 1.5;
        word-break: keep-all;
    }

    // 입력 서식 및 이미지 박스 컨테이너
    &__container{
        @include autoMargin;
        margin-top: rem(35px);
        min-width: rem(320px);

        @include desktop{
            @include flexbox(row, space-between);
            gap : 5%;
            min-height: rem(350px);
            max-width : 80%;
        };
        
        @include mobile{
            @include flexbox(column);
        }
    }

    // 입력 서식
    &__formbox{
        // background-color: pink;
        @include flexbox(column, space-between);
        gap : 10%; 

        @include desktop{
            max-width: 50%;
            flex : 1 1 50%;
        }
    }

    &__list{
        flex : 1 1 80%;
    }

    &__item{
        width: 100%;
        position: relative;
        
        &--name, &--explain, &--upload{
            appearance: none;
            width: 100%;
            margin-bottom : rem(30px);
            border : 0; 
            background-color: white;
            padding: rem(12px) rem(10px);
            border-radius: rem(10px);
            font-size: rem(14px);
        }

        // 작성일
        &--explain{
            resize: none;
        }

        // 파일 업로드 
        &--file{
            display: none;
        }

        // 업로드 버튼 
        &--upload{
            display: block;
            
            width: 25%;
            text-align: center;
            box-shadow: 0 0 5px $gray2;
            @include ellipsis;
        }

        &--upload:hover{
            color : $gray3;
            font-weight: 700;
            box-shadow: 0 0 5px $gray3;
        }

        &--upload::after{
            @include ellipsis;
            content: attr(data-label);
            position: absolute;
            top : 50%; 
            left : 30%;
            transform: translateY(-50%);
            font-weight: 700;
            max-width: rem(200px);
        }
    }

    // 사진 등록 버튼
    &__button{
        // margin-top: rem(10px);
        flex : 1 1 10%; 
        padding : rem(10px);
        border : 0; 
        border-radius: rem(4px);
        width: 100%;
        box-shadow: 0 0 10px rgba($gray3, 0.5);
        color : $gray3; 
        font-weight: 700;
    }

    &__button:hover{
        background: $red1;
        color: #fff;
        font-weight: 700;
    }

    // 사진 미리보기 
    &__thumbnail-container{
        background-color: white;

        @include desktop{
            flex : 1 1 0;
            box-shadow: 0 0 10px rgba($gray3, 0.5);
            border-radius: rem(10px);
            overflow: hidden;
        }

        @include mobile{
            display: none;
        }
    }

    &__thumbnail{
        max-width: 100%;
        height: 100%;
    }
}

