@use './../utils' as *;
body {
  color: $gray3;
  font-family: 'NEXON Lv1 Gothic OTF Light', sans-serif;
}

.goToHome {
  position: absolute;
  top: 0;
  left: 0;
  padding: rem(30px);
  font-size: rem(50px);

  &:hover {
    animation: goBack 1s ease-in-out infinite;
  }

  @keyframes goBack {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(rem(-20px));
    }
    100% {
      transform: translateX(0);
    }
  }
}

.survey {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #edf2f4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  &__bg {
    position: absolute;
    background-image: url('../assets/images/bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    width: 100vw;
    height: 50vh;
    order: 10;
    bottom: 0;
  }

  &__heading {
    font-size: rem(50px);
    font-weight: 700;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: rem(32px) 0;
  }
  &__container {
    z-index: 10;
    width: 70vw;
    height: 70vh;
    background-color: white;
    border-radius: rem(10px);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    position: relative;
  }
  &__question {
    display: block;
    width: 100%;
    height: 15%;
    text-align: center;
    font-size: rem(20px);
    display: flex;
    justify-content: center;
    align-items: center;

    strong {
      color: $red1;
      font-weight: 900;
      text-decoration: underline;
    }
  }
  &__wrap {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: rem(10px);
  }
  &__select {
    width: 100%;
    height: 100%;
  }
  &__img {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: rem(10px);
    border-radius: rem(10px);
    position: relative;

    &:hover {
      animation: imgAction 0.4s ease forwards;
    }

    @keyframes imgAction {
      0% {
        transform: translateY(0);
      }
      100% {
        transform: translateY(rem(-20px));
      }
    }

    img {
      width: 100%;
      height: 100%;
      border-radius: rem(10px);
      object-fit: cover;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    }
    figcaption {
      position: absolute;
      color: white;
      font-size: rem(40px);
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: rem(10px);
      text-align: center;
      background-color: rgba(0, 0, 0, 0.5);
      padding: rem(20px);
      text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    }
  }

  &__result {
    width: 70vw;
    height: 70vh;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    padding: rem(40px);
    box-sizing: border-box;
  }

  &__list {
    background-color: pink;
    padding: rem(10px);
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-content: center;
    margin: auto;
  }

  &__item {
    @include flexbox(row, space-between);
    border: 1px solid red;
    height: rem(60px);
  }

  &__item--img1,
  &__item--img2 {
    flex: 0 0 20%;
    height: 100%;
    background-color: #fff;
  }

  &__item--bar {
    flex: 0 0 60%;
    height: 100%;
    background-color: yellow;
  }

  &__item--barline {
    width: 100%;
    height: 30%;
    background-color: red;
  }
}
