@use './../utils' as *;
body {
  color: $gray3;
  font-family: 'NEXON Lv1 Gothic OTF Light', sans-serif;
}

.goToHome {
  position: absolute;
  top: 0;
  left: 0;
  padding: rem(30px);
  font-size: rem(50px);

  &:hover {
    animation: goBack 1s ease-in-out infinite;
  }

  @keyframes goBack {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(rem(-20px));
    }
    100% {
      transform: translateX(0);
    }
  }
}

.survey {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #edf2f4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  &__bg {
    position: absolute;
    background-image: url('../assets/images/bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    width: 100vw;
    height: 50vh;
    order: 10;
    bottom: 0;
  }

  &__heading {
    font-size: rem(50px);
    font-weight: 700;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: rem(32px) 0;
  }
  &__container {
    z-index: 10;
    width: 70vw;
    height: 70vh;
    background-color: white;
    border-radius: rem(10px);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    position: relative;
  }
  &__question {
    display: block;
    width: 100%;
    height: 15%;
    text-align: center;
    font-size: rem(20px);
    display: flex;
    justify-content: center;
    align-items: center;

    strong {
      color: $red1;
      font-weight: 900;
      text-decoration: underline;
    }
  }
  &__wrap {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: rem(10px);
  }
  &__select {
    width: 100%;
    height: 100%;
  }
  &__img {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: rem(10px);
    border-radius: rem(10px);
    position: relative;

    &:hover {
      animation: imgAction 0.4s ease forwards;
    }

    @keyframes imgAction {
      0% {
        transform: translateY(0);
      }
      100% {
        transform: translateY(rem(-20px));
      }
    }

    img {
      width: 100%;
      height: 100%;
      border-radius: rem(10px);
      object-fit: cover;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    }
    figcaption {
      position: absolute;
      color: white;
      font-size: rem(40px);
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: rem(10px);
      text-align: center;
      background-color: rgba(0, 0, 0, 0.5);
      padding: rem(20px);
      text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    }
  }

  &__result {
    width: 70vw;
    height: 70vh;
    background: linear-gradient(
      35deg,
      rgba(188, 214, 247, 1) 0%,
      rgba(215, 232, 254, 1) 33%,
      rgba(237, 244, 255, 1) 54%,
      rgba(254, 254, 254, 1) 87%
    );
    position: absolute;
    top: 0;
    left: 0;
    padding: rem(40px);
    box-sizing: border-box;
  }

  &__list {
    // background-color: pink;
    max-width: rem(700px);
    padding: rem(10px);
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-content: center;
    margin: auto;
  }

  &__item {
    @include flexbox(row, space-around);
    background-color: #fff;
    border-radius: rem(8px);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    height: rem(80px);
  }

  &__item--bar {
    @include flexbox(column, center, center);
    flex: 0 0 60%;
    height: 100%;
    gap: 7%;
  }

  &__message {
    text-align: left;
    align-self: flex-start;
    position: relative;
    line-height: 5;
  }

  &__message:before {
    content: 'your choice is';
    font-size: rem(10px);
    position: absolute;
    top: rem(-5px);
    left: 0;
  }

  &__highlight {
    font-weight: 900;
  }

  &__item--line {
    height: 25%;
    width: 100%;
    background: $gray1;
    position: relative;
    border-radius: rem(20px);
  }

  @keyframes increase {
    0% {
      transform: scaleX(0);
    }
    100% {
      transform: scaleX(1);
    }
  }

  &__item--innerline {
    // 동적으로 변경해야 하는 부분
    width: 50%;
    height: 100%;
    border-radius: rem(10px);
    background-color: $gray3;
    position: relative;
    text-align: right;
    color: #fff;
    font-size: rem(13px);
    line-height: 1.5;
    padding-right: rem(5px);
    animation: increase 1000ms ease forwards;
    transform-origin: left;
  }

  &__item--line::before {
    content: attr(data-first);
    position: absolute;
    font-size: rem(10px);
    top: rem(-14px);
    left: rem(5px);
    color: black;
  }

  &__item--line::after {
    content: attr(data-last);
    position: absolute;
    font-size: rem(10px);
    width: rem(20px);
    top: rem(-12px);
    right: rem(5px);
  }
}
