@use './../utils' as *;

// 걷는 고양이
@mixin walkingCat {
  width: rem(80px);
  height: rem(40px);

  transform: scaleX(-1);

  background-image: url('/src/assets/images/cat.png');
  background-repeat: no-repeat;
  overflow: hidden;

  animation: walking 0.7s step-start infinite;

  @content;

  @keyframes walking {
    0% {
      background-position-y: 0px;
    }
    9% {
      background-position-y: -40px;
    }
    18% {
      background-position-y: -80px;
    }
    27% {
      background-position-y: -120px;
    }
    36% {
      background-position-y: -160px;
    }
    45% {
      background-position-y: -200px;
    }
    54% {
      background-position-y: -240px;
    }
    63% {
      background-position-y: -280px;
    }
    72% {
      background-position-y: -320px;
    }
    81% {
      background-position-y: -360px;
    }
    90% {
      background-position-y: -400px;
    }
    100% {
      background-position-y: -440px;
    }
  }
}
