@use './../utils' as *;
@use './../components' as *;


.footer {

    @include boxSizeMax(1200px);
    font-weight: bold;
    padding: rem(40px);
    position: relative;

    &-container {
        border-top: 1px solid black;

        @include desktop {
        }
    }

    &-heading {
        display: block;
        padding: rem(30px) 0;
        @include mobile {
            font-size: rem(16px);
            padding-left: rem(16px);
            border-top: 1px solid black;
            border-bottom: 1px solid black;
        }

        @include desktop {
            margin-top: rem(-12px);
            font-size: rem(24px);
            grid-area: heading;
        }
    }

    &-address {
        span {
            display: block;
            padding: rem(15px) 0;
            font-size: rem(14px);
        }


        @include mobile {
            margin-top: rem(32px);

            span {
                padding-left: rem(16px);
            }
        }

        @include desktop {
            grid-area: address;
        }
    }

    @at-root .address__telephone {
        @include mobile {
            margin-left: rem(8px);
        }
    }

    &-sns {

        position: relative;

        &-heading {
            @include mobile {
                position: absolute;
                top: rem(-12px);
                left: 0;
                padding-left: rem(16px);
            }
        }

        @include mobile {
            display: flex;
            margin: rem(32px) 0;
            padding: rem(16px) 0;
            padding-left: rem(16px);
            gap: rem(20px);
    
            img {
                @include responsive;
            }
        }

        @include desktop {
            grid-area: sns;
        }
    }

    &-copyright {
        @include mobile {
            font-size: rem(14px);
            line-height: rem(24px);
            display: block;
            padding-left: rem(16px);
            word-break: keep-all;
        }

        @include desktop {
            grid-area: copyright;
        }

    }
}