@use './../utils' as *;
@use './../components' as *;

body {
  height: 500vh;
}

.header {
  // 스크롤 top에 닿아있는 경우
  transition: all 0.2s ease;
  @at-root .header.is-top {
    background-color: transparent;
    transform: translateY(-100%);
  }

  // 공통
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  @include flexbox(row, center, center);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  &__logo {
    height: rem(40px);
  }

  // 데스크탑
  @include desktop {
    height: rem(100px);

    // 헤더 배경
    &__bg {
      // 걷는 고양이
      &__cat {
        @include walkingCat {
          zoom: 0.2;
          position: absolute;
          bottom: rem(10px);
          left: 100%;
        }
      }

      // 배경 갤러리
      &__gallery {
        position: absolute;
        right: rem(20px);
        bottom: rem(10px);
        .box1 {
          position: absolute;
          right: rem(20px);
          bottom: 0;
          width: rem(40px);
          height: rem(50px);
          background-color: $red1;
          border-radius: rem(2px);
        }
        .box2 {
          position: absolute;
          right: rem(50px);
          bottom: rem(30px);
          width: rem(50px);
          height: rem(40px);
          background-color: transparent;
          border: 1px solid $gray3;
          border-radius: rem(2px);
        }
        .box3 {
          position: absolute;
          right: rem(90px);
          bottom: rem(10px);
          width: rem(40px);
          height: rem(40px);
          background-color: $gray3;
          border: 1px solid $gray3;
          border-radius: rem(2px);
        }
      }
    }

    // 메뉴 버튼
    &__menu {
      display: none;
    }
  }

  // 모바일
  @include mobile {
    // 공통
    height: rem(80px);
    min-width: rem(360px);

    // 배경 이미지 없앰
    &__bg {
      display: none;
    }

    // 메뉴 버튼
    &__menu {
      display: block;
      appearance: none;
      border: 0;
      background-color: transparent;
      position: absolute;
      transform: translateY(5%);
      right: rem(20px);
      font-size: rem(25px);
      transform: translateX(0px);
      transition: all 0.3s ease;
    }

    &__menu.is-active {
      transform: translateX(100px);
    }
  }
}
