@use './../utils' as *;
@use './../components' as *;

.nav {
  display: block;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  background-color: rgba($gray3, 0.8);
  padding: rem(90px) 0;
  color: white;
  font-weight: lighter;
  font-size: rem(20px);
  word-break: keep-all;
  @include flexbox(column);
  height: 100%;
  transform: translateX(-100%);
  transition: all 0.3s ease;

  @include mobile {
    width: 50%;
  }
  @include desktop {
    width: 30%;
  }

  &.is-active {
    transform: translateX(0%);
  }
  &__link {
    transition: all 0.3s ease;
  }
  &__link a {
    display: block;
    padding: rem(20px);
    line-height: 1;
    margin: rem(10px) rem(20px);
  }
  &__link:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }
  &__close {
    position: absolute;
    background-color: transparent;
    border: 0;
    color: white;
    top: rem(30px);
    left: rem(20px);
    transition: all 0.3s ease;
  }
  &__close:hover {
    transform: scale(1.3);
  }
}
