@use './../utils' as *;
@use './../components' as *;

.nav {
  // 스크롤 top에 닿아있는 경우
  transition: all 0.2s ease;
  @at-root .nav.is-top {
    transform: translateY(0);
  }

  // 데스크탑
  @include desktop {
    width: 100%;
    position: absolute;
    z-index: 10;
    transform: translateY(rem(100px));

    // @include boxSizeMax;
    &__list {
      @include flexbox(row, space-between);
      @include boxSizeMax(rem(1200px));
      padding: 0 rem(20px);
      font-weight: lighter;
      font-size: rem(18px);
      color: white;
      text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
    }
    &__link {
      transition: all 0.3s ease;
    }
    &__link a {
      display: block;
      line-height: 3;
      margin: 0 rem(20px);
    }
    &__link:hover {
      transform: scale(1.3);
    }
    &__close {
      display: none;
    }
  }

  // 모바일
  @include mobile {
    &__list {
      display: block;
      position: fixed;
      z-index: 999;
      top: 0;
      left: 0;
      background-color: rgba($gray3, 0.8);
      padding: rem(90px) 0;
      color: white;
      font-weight: lighter;
      font-size: rem(20px);
      word-break: keep-all;
      @include flexbox(column);
      height: 100%;
      width: 50%;
      transform: translateX(-100%);
      transition: all 0.3s ease;
    }

    &__list.is-active {
      transform: translateX(0%);
    }
    &__link {
      transition: all 0.3s ease;
    }
    &__link a {
      display: block;
      line-height: 1;
      margin: rem(10px) rem(20px);
    }
    &__link:hover {
      background-color: rgba($gray3, 0.9);
    }
    &__close {
      position: absolute;
      background-color: transparent;
      border: 0;
      color: white;
      top: rem(30px);
      left: rem(20px);
      transition: all 0.3s ease;
    }
    &__close:hover {
      transform: scale(1.3);
    }
  }
}
